extends layout

block content
  h2 トマトタイマー
  a(href="/timer/edit") 時間変更フォーム
  div
    if user
      a(href="/logout") #{user.username} をログアウト 
    else 
      a(href="/login") ログイン
  div
    p#timer 88:88
    button#reset-button(type="button") RESET
    button#start-button(type="button") START
    button#skip-button(type="button") SKIP
    p#timer-status
  script(src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js")
  script(src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous")
  script(src="/javascripts/script.js")