extends layout

block content
  h2 トマトタイマー
  div
    if user
      a(href="/logout") #{user.username} をログアウト 
    else 
      a(href="/login") ログイン
  div
    p#timer 00:00
    button#reset-button(type="button") RESET
    button#start-button(type="button") START
    button#skip-button(type="button") SKIP